---
---

@charset "UTF-8";

@import "normalize.css";

// scss variable
$primary-color: #344;
$header-height: 45px;

html, body {
  background: #fff;
  height: 100%;
  color: $primary-color;
  font-family:'Source Sans Pro','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

a {
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    text-decoration: none;
  }
}

article {
  margin-bottom: 100px;
  .meta {
    color: #9aa;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    a {
      color: #9aa;
      text-decoration: none;
    }
    .tag {
      color: #9aa;
      display: inline-block;
    }
  }
  h2 {
    a {
      text-decoration: none;
    }
  }
  h3 {
    font-size: 1.2em;
    border-left: 5px solid $primary-color;
    padding-left: 10px;
    margin: 2em 0 1em 0;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  table {
    margin: 0 auto;
  }
  #disqus_thread {
    margin-top: 50px;
  }
}

#entry-list {
  .date {
    display: inline-block;
    width: 120px;
  }
  .tag {
    color: $primary-color;
    display: inline-block;
    margin-left: 1em;
    a {
      text-decoration: none;
    }
  }
  dt {
    padding-top: 0.5em;
    &:first-child {
      border-top: 1px solid #eee;
    }
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 1em;
    border-bottom: 1px solid #eee;
  }
}

.nav {
  margin-bottom: 2em;
}

.pagination {
  text-align: center;
  margin-bottom: 2em;
}

header {
  width: 100%;
  background: $primary-color;
  //position: fixed;
  //top: 0; left: 0;
  //z-index: 99;

  #header-content {
    color: #fff;
    width: 700px;
    height: $header-height;
    margin: 0 auto;
    padding: 10px;

    .left {
      float: left;
      width: 200px;

      a {
        color: #677;
        text-decoration: none;
        line-height: $header-height;
        display: inline-block;
        margin-right: 2.5em;
        &:visited {
          color: #677;
        }
      }

    }

    .right {
      float: right;
      width: 480px;
      text-align: right;

      a {
        display: inline-block;
        margin-left: 2.5em;
        color: #9aa;
        text-decoration: none;
        line-height: $header-height;
        &:visited {
          color: #9aa;
        }
        &:hover {
          color: #cdd;
        }
      }
    }

  }
}

#container {
  font-size: 15px;
  width: 700px;
  margin: 70px auto;
  .left {
    display: block;
    float: left;
  }
  .right {
    display: block;
    float:right;
  }
  ul {
    list-style-type: square;
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.clearfix {
  zoom:1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

pre, code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  display: block;
  padding: 9.5px;
  margin: 20px 0;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/*--- fonts ---*/
.bold { font-weight:bold; }


@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.3em;
  line-height: 1.3em;
}

/*--- responsive ---*/
@media screen and (max-width: 767px) {
  #container {
    padding: 0 10%;
    width: 80%;
  }
  header {
    #header-content {
      width: 80%;
      padding: 0 10%;
      height: $header-height*2;
    }
  }
  footer {
    width: 100%;
  }
  article {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
