RewriteEngine on
RewriteRule ^2012/10/27/first-entry/ http://takuti.me/note/first-entry/ [R=301,L]
RewriteRule ^2012/10/first-entry/ http://takuti.me/note/first-entry/ [R=301,L]
RewriteRule ^first-entry/ http://takuti.me/note/first-entry/ [R=301,L]
RewriteRule ^2012/12/02/twitter-facebook-stop/ http://takuti.me/note/twitter-facebook-stop/ [R=301,L]
RewriteRule ^2012/12/twitter-facebook-stop/ http://takuti.me/note/twitter-facebook-stop/ [R=301,L]
RewriteRule ^twitter-facebook-stop/ http://takuti.me/note/twitter-facebook-stop/ [R=301,L]
RewriteRule ^2012/12/09/majestouch-ninja-bought/ http://takuti.me/note/majestouch-ninja-bought/ [R=301,L]
RewriteRule ^2012/12/majestouch-ninja-bought/ http://takuti.me/note/majestouch-ninja-bought/ [R=301,L]
RewriteRule ^majestouch-ninja-bought/ http://takuti.me/note/majestouch-ninja-bought/ [R=301,L]
RewriteRule ^2012/12/23/presentation-is-art/ http://takuti.me/note/presentation-is-art/ [R=301,L]
RewriteRule ^2012/12/presentation-is-art/ http://takuti.me/note/presentation-is-art/ [R=301,L]
RewriteRule ^presentation-is-art/ http://takuti.me/note/presentation-is-art/ [R=301,L]
RewriteRule ^2013/01/09/the-secret/ http://takuti.me/note/the-secret/ [R=301,L]
RewriteRule ^2013/01/the-secret/ http://takuti.me/note/the-secret/ [R=301,L]
RewriteRule ^the-secret/ http://takuti.me/note/the-secret/ [R=301,L]
RewriteRule ^2013/01/11/jenga/ http://takuti.me/note/jenga/ [R=301,L]
RewriteRule ^2013/01/jenga/ http://takuti.me/note/jenga/ [R=301,L]
RewriteRule ^jenga/ http://takuti.me/note/jenga/ [R=301,L]
RewriteRule ^2013/01/15/become-adult/ http://takuti.me/note/become-adult/ [R=301,L]
RewriteRule ^2013/01/become-adult/ http://takuti.me/note/become-adult/ [R=301,L]
RewriteRule ^become-adult/ http://takuti.me/note/become-adult/ [R=301,L]
RewriteRule ^2013/01/21/mixi-scrap-challenge-for-security/ http://takuti.me/note/mixi-scrap-challenge-for-security/ [R=301,L]
RewriteRule ^2013/01/mixi-scrap-challenge-for-security/ http://takuti.me/note/mixi-scrap-challenge-for-security/ [R=301,L]
RewriteRule ^mixi-scrap-challenge-for-security/ http://takuti.me/note/mixi-scrap-challenge-for-security/ [R=301,L]
RewriteRule ^2013/02/11/umehara/ http://takuti.me/note/umehara/ [R=301,L]
RewriteRule ^2013/02/umehara/ http://takuti.me/note/umehara/ [R=301,L]
RewriteRule ^umehara/ http://takuti.me/note/umehara/ [R=301,L]
RewriteRule ^2013/02/28/ending-diary/ http://takuti.me/note/ending-diary/ [R=301,L]
RewriteRule ^2013/02/ending-diary/ http://takuti.me/note/ending-diary/ [R=301,L]
RewriteRule ^ending-diary/ http://takuti.me/note/ending-diary/ [R=301,L]
RewriteRule ^2013/03/03/throw-things-away/ http://takuti.me/note/throw-things-away/ [R=301,L]
RewriteRule ^2013/03/throw-things-away/ http://takuti.me/note/throw-things-away/ [R=301,L]
RewriteRule ^throw-things-away/ http://takuti.me/note/throw-things-away/ [R=301,L]
RewriteRule ^2013/03/08/rhit-day1-day5/ http://takuti.me/note/rhit-day1-day5/ [R=301,L]
RewriteRule ^2013/03/rhit-day1-day5/ http://takuti.me/note/rhit-day1-day5/ [R=301,L]
RewriteRule ^rhit-day1-day5/ http://takuti.me/note/rhit-day1-day5/ [R=301,L]
RewriteRule ^2013/03/14/rhit-day6-day10/ http://takuti.me/note/rhit-day6-day10/ [R=301,L]
RewriteRule ^2013/03/rhit-day6-day10/ http://takuti.me/note/rhit-day6-day10/ [R=301,L]
RewriteRule ^rhit-day6-day10/ http://takuti.me/note/rhit-day6-day10/ [R=301,L]
RewriteRule ^2013/03/19/rhit-day11-day15/ http://takuti.me/note/rhit-day11-day15/ [R=301,L]
RewriteRule ^2013/03/rhit-day11-day15/ http://takuti.me/note/rhit-day11-day15/ [R=301,L]
RewriteRule ^rhit-day11-day15/ http://takuti.me/note/rhit-day11-day15/ [R=301,L]
RewriteRule ^2013/03/28/rhit-day16-day20/ http://takuti.me/note/rhit-day16-day20/ [R=301,L]
RewriteRule ^2013/03/rhit-day16-day20/ http://takuti.me/note/rhit-day16-day20/ [R=301,L]
RewriteRule ^rhit-day16-day20/ http://takuti.me/note/rhit-day16-day20/ [R=301,L]
RewriteRule ^2013/04/29/study-abroad-for-3-weeks/ http://takuti.me/note/study-abroad-for-3-weeks/ [R=301,L]
RewriteRule ^2013/04/study-abroad-for-3-weeks/ http://takuti.me/note/study-abroad-for-3-weeks/ [R=301,L]
RewriteRule ^study-abroad-for-3-weeks/ http://takuti.me/note/study-abroad-for-3-weeks/ [R=301,L]
RewriteRule ^2013/06/20/books-2013-feb-jun/ http://takuti.me/note/books-2013-feb-jun/ [R=301,L]
RewriteRule ^2013/06/books-2013-feb-jun/ http://takuti.me/note/books-2013-feb-jun/ [R=301,L]
RewriteRule ^books-2013-feb-jun/ http://takuti.me/note/books-2013-feb-jun/ [R=301,L]
RewriteRule ^2013/07/03/gyakukyujin/ http://takuti.me/note/gyakukyujin/ [R=301,L]
RewriteRule ^2013/07/gyakukyujin/ http://takuti.me/note/gyakukyujin/ [R=301,L]
RewriteRule ^gyakukyujin/ http://takuti.me/note/gyakukyujin/ [R=301,L]
RewriteRule ^2013/07/04/what-is-important-for-team/ http://takuti.me/note/what-is-important-for-team/ [R=301,L]
RewriteRule ^2013/07/what-is-important-for-team/ http://takuti.me/note/what-is-important-for-team/ [R=301,L]
RewriteRule ^what-is-important-for-team/ http://takuti.me/note/what-is-important-for-team/ [R=301,L]
RewriteRule ^2013/07/15/jigsaw-puzzle-day1/ http://takuti.me/note/jigsaw-puzzle-day1/ [R=301,L]
RewriteRule ^2013/07/jigsaw-puzzle-day1/ http://takuti.me/note/jigsaw-puzzle-day1/ [R=301,L]
RewriteRule ^jigsaw-puzzle-day1/ http://takuti.me/note/jigsaw-puzzle-day1/ [R=301,L]
RewriteRule ^2013/07/16/how-to-read-a-book/ http://takuti.me/note/how-to-read-a-book/ [R=301,L]
RewriteRule ^2013/07/how-to-read-a-book/ http://takuti.me/note/how-to-read-a-book/ [R=301,L]
RewriteRule ^how-to-read-a-book/ http://takuti.me/note/how-to-read-a-book/ [R=301,L]
RewriteRule ^2013/07/18/jigsaw-puzzle-day2/ http://takuti.me/note/jigsaw-puzzle-day2/ [R=301,L]
RewriteRule ^2013/07/jigsaw-puzzle-day2/ http://takuti.me/note/jigsaw-puzzle-day2/ [R=301,L]
RewriteRule ^jigsaw-puzzle-day2/ http://takuti.me/note/jigsaw-puzzle-day2/ [R=301,L]
RewriteRule ^2013/07/19/sakura-vps-ssh-permission/ http://takuti.me/note/sakura-vps-ssh-permission/ [R=301,L]
RewriteRule ^2013/07/sakura-vps-ssh-permission/ http://takuti.me/note/sakura-vps-ssh-permission/ [R=301,L]
RewriteRule ^sakura-vps-ssh-permission/ http://takuti.me/note/sakura-vps-ssh-permission/ [R=301,L]
RewriteRule ^2013/07/23/jigsaw-puzzle-day3-5/ http://takuti.me/note/jigsaw-puzzle-day3-5/ [R=301,L]
RewriteRule ^2013/07/jigsaw-puzzle-day3-5/ http://takuti.me/note/jigsaw-puzzle-day3-5/ [R=301,L]
RewriteRule ^jigsaw-puzzle-day3-5/ http://takuti.me/note/jigsaw-puzzle-day3-5/ [R=301,L]
RewriteRule ^2013/07/27/hello-chrome-extension/ http://takuti.me/note/hello-chrome-extension/ [R=301,L]
RewriteRule ^2013/07/hello-chrome-extension/ http://takuti.me/note/hello-chrome-extension/ [R=301,L]
RewriteRule ^hello-chrome-extension/ http://takuti.me/note/hello-chrome-extension/ [R=301,L]
RewriteRule ^2013/07/28/twitter-bot/ http://takuti.me/note/twitter-bot/ [R=301,L]
RewriteRule ^2013/07/twitter-bot/ http://takuti.me/note/twitter-bot/ [R=301,L]
RewriteRule ^twitter-bot/ http://takuti.me/note/twitter-bot/ [R=301,L]
RewriteRule ^2013/07/29/hatena-keyword-to-ipadic/ http://takuti.me/note/hatena-keyword-to-ipadic/ [R=301,L]
RewriteRule ^2013/07/hatena-keyword-to-ipadic/ http://takuti.me/note/hatena-keyword-to-ipadic/ [R=301,L]
RewriteRule ^hatena-keyword-to-ipadic/ http://takuti.me/note/hatena-keyword-to-ipadic/ [R=301,L]
RewriteRule ^2013/08/02/hello-angularjs/ http://takuti.me/note/hello-angularjs/ [R=301,L]
RewriteRule ^2013/08/hello-angularjs/ http://takuti.me/note/hello-angularjs/ [R=301,L]
RewriteRule ^hello-angularjs/ http://takuti.me/note/hello-angularjs/ [R=301,L]
RewriteRule ^2013/08/03/canvas-rotate-round/ http://takuti.me/note/canvas-rotate-round/ [R=301,L]
RewriteRule ^2013/08/canvas-rotate-round/ http://takuti.me/note/canvas-rotate-round/ [R=301,L]
RewriteRule ^canvas-rotate-round/ http://takuti.me/note/canvas-rotate-round/ [R=301,L]
RewriteRule ^2013/08/04/meltokei/ http://takuti.me/note/meltokei/ [R=301,L]
RewriteRule ^2013/08/meltokei/ http://takuti.me/note/meltokei/ [R=301,L]
RewriteRule ^meltokei/ http://takuti.me/note/meltokei/ [R=301,L]
RewriteRule ^2013/08/08/go-to-bookstore/ http://takuti.me/note/go-to-bookstore/ [R=301,L]
RewriteRule ^2013/08/go-to-bookstore/ http://takuti.me/note/go-to-bookstore/ [R=301,L]
RewriteRule ^go-to-bookstore/ http://takuti.me/note/go-to-bookstore/ [R=301,L]
RewriteRule ^2013/08/21/standing-on-the-shoulders-of-giants/ http://takuti.me/note/standing-on-the-shoulders-of-giants/ [R=301,L]
RewriteRule ^2013/08/standing-on-the-shoulders-of-giants/ http://takuti.me/note/standing-on-the-shoulders-of-giants/ [R=301,L]
RewriteRule ^standing-on-the-shoulders-of-giants/ http://takuti.me/note/standing-on-the-shoulders-of-giants/ [R=301,L]
RewriteRule ^2013/09/30/midnight-express/ http://takuti.me/note/midnight-express/ [R=301,L]
RewriteRule ^2013/09/midnight-express/ http://takuti.me/note/midnight-express/ [R=301,L]
RewriteRule ^midnight-express/ http://takuti.me/note/midnight-express/ [R=301,L]
RewriteRule ^2013/10/01/from-cloud-to-ai/ http://takuti.me/note/from-cloud-to-ai/ [R=301,L]
RewriteRule ^2013/10/from-cloud-to-ai/ http://takuti.me/note/from-cloud-to-ai/ [R=301,L]
RewriteRule ^from-cloud-to-ai/ http://takuti.me/note/from-cloud-to-ai/ [R=301,L]
RewriteRule ^2013/10/07/maybe-no-game-no-life/ http://takuti.me/note/maybe-no-game-no-life/ [R=301,L]
RewriteRule ^2013/10/maybe-no-game-no-life/ http://takuti.me/note/maybe-no-game-no-life/ [R=301,L]
RewriteRule ^maybe-no-game-no-life/ http://takuti.me/note/maybe-no-game-no-life/ [R=301,L]
RewriteRule ^2013/10/27/time-capsule/ http://takuti.me/note/time-capsule/ [R=301,L]
RewriteRule ^2013/10/time-capsule/ http://takuti.me/note/time-capsule/ [R=301,L]
RewriteRule ^time-capsule/ http://takuti.me/note/time-capsule/ [R=301,L]
RewriteRule ^2013/10/29/6brains-of-the-world/ http://takuti.me/note/6brains-of-the-world/ [R=301,L]
RewriteRule ^2013/10/6brains-of-the-world/ http://takuti.me/note/6brains-of-the-world/ [R=301,L]
RewriteRule ^6brains-of-the-world/ http://takuti.me/note/6brains-of-the-world/ [R=301,L]
RewriteRule ^2013/11/15/crx-dev-using-angularjs/ http://takuti.me/note/crx-dev-using-angularjs/ [R=301,L]
RewriteRule ^2013/11/crx-dev-using-angularjs/ http://takuti.me/note/crx-dev-using-angularjs/ [R=301,L]
RewriteRule ^crx-dev-using-angularjs/ http://takuti.me/note/crx-dev-using-angularjs/ [R=301,L]
RewriteRule ^2013/11/30/hobonichi-2014/ http://takuti.me/note/hobonichi-2014/ [R=301,L]
RewriteRule ^2013/11/hobonichi-2014/ http://takuti.me/note/hobonichi-2014/ [R=301,L]
RewriteRule ^hobonichi-2014/ http://takuti.me/note/hobonichi-2014/ [R=301,L]
RewriteRule ^2013/12/08/poisson-image-blending/ http://takuti.me/note/poisson-image-blending/ [R=301,L]
RewriteRule ^2013/12/poisson-image-blending/ http://takuti.me/note/poisson-image-blending/ [R=301,L]
RewriteRule ^poisson-image-blending/ http://takuti.me/note/poisson-image-blending/ [R=301,L]
RewriteRule ^2013/12/09/hurry-up-post/ http://takuti.me/note/hurry-up-post/ [R=301,L]
RewriteRule ^2013/12/hurry-up-post/ http://takuti.me/note/hurry-up-post/ [R=301,L]
RewriteRule ^hurry-up-post/ http://takuti.me/note/hurry-up-post/ [R=301,L]
RewriteRule ^2013/12/12/stinger-advent-calendar-2013/ http://takuti.me/note/stinger-advent-calendar-2013/ [R=301,L]
RewriteRule ^2013/12/stinger-advent-calendar-2013/ http://takuti.me/note/stinger-advent-calendar-2013/ [R=301,L]
RewriteRule ^stinger-advent-calendar-2013/ http://takuti.me/note/stinger-advent-calendar-2013/ [R=301,L]
RewriteRule ^2013/12/21/shinchoku-2013/ http://takuti.me/note/shinchoku-2013/ [R=301,L]
RewriteRule ^2013/12/shinchoku-2013/ http://takuti.me/note/shinchoku-2013/ [R=301,L]
RewriteRule ^shinchoku-2013/ http://takuti.me/note/shinchoku-2013/ [R=301,L]
RewriteRule ^2013/12/25/twitter-bot-tweet-length/ http://takuti.me/note/twitter-bot-tweet-length/ [R=301,L]
RewriteRule ^2013/12/twitter-bot-tweet-length/ http://takuti.me/note/twitter-bot-tweet-length/ [R=301,L]
RewriteRule ^twitter-bot-tweet-length/ http://takuti.me/note/twitter-bot-tweet-length/ [R=301,L]
RewriteRule ^2014/01/25/tf-idf/ http://takuti.me/note/tf-idf/ [R=301,L]
RewriteRule ^2014/01/tf-idf/ http://takuti.me/note/tf-idf/ [R=301,L]
RewriteRule ^tf-idf/ http://takuti.me/note/tf-idf/ [R=301,L]
RewriteRule ^2014/02/25/21st-birthday/ http://takuti.me/note/21st-birthday/ [R=301,L]
RewriteRule ^2014/02/21st-birthday/ http://takuti.me/note/21st-birthday/ [R=301,L]
RewriteRule ^21st-birthday/ http://takuti.me/note/21st-birthday/ [R=301,L]
RewriteRule ^2014/02/28/todays-art-taro/ http://takuti.me/note/todays-art-taro/ [R=301,L]
RewriteRule ^2014/02/todays-art-taro/ http://takuti.me/note/todays-art-taro/ [R=301,L]
RewriteRule ^todays-art-taro/ http://takuti.me/note/todays-art-taro/ [R=301,L]
RewriteRule ^2014/03/01/ponshukan/ http://takuti.me/note/ponshukan/ [R=301,L]
RewriteRule ^2014/03/ponshukan/ http://takuti.me/note/ponshukan/ [R=301,L]
RewriteRule ^ponshukan/ http://takuti.me/note/ponshukan/ [R=301,L]
RewriteRule ^2014/03/31/hello-jekyll/ http://takuti.me/note/hello-jekyll/ [R=301,L]
RewriteRule ^2014/03/hello-jekyll/ http://takuti.me/note/hello-jekyll/ [R=301,L]
RewriteRule ^hello-jekyll/ http://takuti.me/note/hello-jekyll/ [R=301,L]
RewriteRule ^2014/05/17/only-is-not-lonely/ http://takuti.me/note/only-is-not-lonely/ [R=301,L]
RewriteRule ^2014/05/only-is-not-lonely/ http://takuti.me/note/only-is-not-lonely/ [R=301,L]
RewriteRule ^only-is-not-lonely/ http://takuti.me/note/only-is-not-lonely/ [R=301,L]
RewriteRule ^2014/05/27/toefl/ http://takuti.me/note/toefl-20140523/ [R=301,L]
RewriteRule ^2014/05/toefl/ http://takuti.me/note/toefl-20140523/ [R=301,L]
RewriteRule ^toefl/ http://takuti.me/note/toefl-20140523/ [R=301,L]
RewriteRule ^2014/07/12/lovestory/ http://takuti.me/note/lovestory/ [R=301,L]
RewriteRule ^2014/07/lovestory/ http://takuti.me/note/lovestory/ [R=301,L]
RewriteRule ^lovestory/ http://takuti.me/note/lovestory/ [R=301,L]
RewriteRule ^2014/07/13/20140713/ http://takuti.me/note/20140713/ [R=301,L]
RewriteRule ^2014/07/20140713/ http://takuti.me/note/20140713/ [R=301,L]
RewriteRule ^20140713/ http://takuti.me/note/20140713/ [R=301,L]
RewriteRule ^2014/07/15/toefl/ http://takuti.me/note/toefl-20140715/ [R=301,L]
RewriteRule ^2014/07/toefl/ http://takuti.me/note/toefl-20140715/ [R=301,L]
RewriteRule ^toefl/ http://takuti.me/note/toefl-20140715/ [R=301,L]
RewriteRule ^2014/07/17/20140717/ http://takuti.me/note/20140717/ [R=301,L]
RewriteRule ^2014/07/20140717/ http://takuti.me/note/20140717/ [R=301,L]
RewriteRule ^20140717/ http://takuti.me/note/20140717/ [R=301,L]
RewriteRule ^2014/07/23/twitter-facebook-stop-cont/ http://takuti.me/note/twitter-facebook-stop-cont/ [R=301,L]
RewriteRule ^2014/07/twitter-facebook-stop-cont/ http://takuti.me/note/twitter-facebook-stop-cont/ [R=301,L]
RewriteRule ^twitter-facebook-stop-cont/ http://takuti.me/note/twitter-facebook-stop-cont/ [R=301,L]
RewriteRule ^2014/08/08/marnie/ http://takuti.me/note/marnie/ [R=301,L]
RewriteRule ^2014/08/marnie/ http://takuti.me/note/marnie/ [R=301,L]
RewriteRule ^marnie/ http://takuti.me/note/marnie/ [R=301,L]
RewriteRule ^2014/08/29/hatena-star/ http://takuti.me/note/hatena-star/ [R=301,L]
RewriteRule ^2014/08/hatena-star/ http://takuti.me/note/hatena-star/ [R=301,L]
RewriteRule ^hatena-star/ http://takuti.me/note/hatena-star/ [R=301,L]
RewriteRule ^2014/09/01/practical-machine-learning/ http://takuti.me/note/practical-machine-learning/ [R=301,L]
RewriteRule ^2014/09/practical-machine-learning/ http://takuti.me/note/practical-machine-learning/ [R=301,L]
RewriteRule ^practical-machine-learning/ http://takuti.me/note/practical-machine-learning/ [R=301,L]
RewriteRule ^2014/11/09/hello-english/ http://takuti.me/note/hello-english/ [R=301,L]
RewriteRule ^2014/11/hello-english/ http://takuti.me/note/hello-english/ [R=301,L]
RewriteRule ^hello-english/ http://takuti.me/note/hello-english/ [R=301,L]
RewriteRule ^ http://takuti.me/ [R=301,L]
