---
layout: default
title: TOP
---


<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  {% unless post.next %}
  <h3 class="year">{{ post.date | date: '%Y' }} <span class="symbol up-down up">up</span></h3>
  <dl class="entry-list">
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
  </dl>
  <br />
  <h3 class="year">{{ post.date | date: '%Y' }} <span class="symbol up-down down">down</span></h3>
  <dl class="entry-list past-year">
  {% endif %}
  {% endunless %}
  <dt>
  <span class="date">
    {{ post.date | date: '%b %d' }}
  </span>
  </dt>
  <dd>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </dd>
{% endfor %}
</dl>
